.nav-pequeño {
	width: 250px;
}
.barra-navegacion {
	box-shadow: none;
}
.fondo {
	position: absolute;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	filter: blur(7px);
}
.fondo img {
	min-width: 1200px;
	width: 100%;
	height: 100%;
}
#logo {
	height: 250px;
	margin-bottom: 40px;
}
#logo a {
	width: 250px;
	font-size: 20px;
}
#logo a img {
	width: 100%;
	margin: 20px 0 -10px 0; 
}
.logo-deslizable {
	height: 300px !important;
}
.logo-deslizable a {
	width: 300px !important;
}
.borde {
	border: 1px solid red;
}
.container {
	position: relative;
	z-index: 998;
}
.img-titulo img {
	width: 100%;
}
.subtitulos {
	font-size: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
.subtitulo {
	margin-bottom: 120px;
}
.separador {
	padding: 50px;
}
.indicator {
	background-color: #009688 !important;
}
#vitrina-productos {
	min-height: 400px;
}
#vitrina-productos .vitrina-contenido {
	min-height: 300px;
}