#logo img {
    height: 60px;
    margin-left: 10px;
}

.nav-centrado {
    position: absolute;
    left: 50%;
    webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.parallax {
    filter: blur(4px);
}

.img-logo-titulo {
    width: 98%;
    margin: 0 1% 0 1%;
}

#sidenav-overlay {
    z-index: 996;
}

.flow-text {
    font-size: 20px;
}

.parallax-2 {
    height: 350px;
}

.padding-elemento {
    height: 300px;
    padding: 10px !important;
    margin: 5px 0;
}

.btn-solo {
    padding-top: 5px;
    padding-right: 10px;
    display: block;
    border: 1px solid red;
    text-align: center;
    width: 40%;
    margin: 0;
}
